body {
  margin: 0 !important;
}
p {
  color: gray;
}
.wrapper {
  padding: 5px 10px;
}
.topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 3px 10px;
  margin-bottom: 10px;
}

.btn-area {
  display: flex;
  align-items: center;
}

.search-area {
  display: flex;
  align-items: center;
}
//btn
.top-btn {
  background-color: transparent !important;

  text-transform: capitalize !important;
}

.red-btn {
  text-transform: capitalize !important;
  background-color: red !important;
  color: #fff !important;
  padding: 3px 8px !important;
}

.single-btn {
  color: #fff !important;
  text-transform: capitalize !important;
}
.filter-btn {
  width: 100%;
  margin: 10px 0px !important;
  background-color: #fff !important;
  text-transform: capitalize !important;
  border: 1px solid rgb(177, 175, 175) !important;
  color: black !important;
  padding: 2px 15px !important;
}

.avarter {
  width: 35px !important;
  height: 35px !important;
}

.search {
  background-color: transparent !important;
  color: #fff !important;
  & .input-search {
    color: #fff !important;
  }
}

.sidebar-wrapper {
  background-color: #f5f5f5;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.heading-wrapper {
  background-color: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.divider {
  margin-bottom: 0 !important;
}

.sidebar-area {
  padding: 5px 10px;
}
.body-wrapper {
  margin: 10px 20px;
}
.heading-area-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  & .filter-btn {
    width: auto !important;
  }
  & .css-9tj150-MuiButton-endIcon {
    margin-left: 0 !important;
  }
  & .css-zddlty-MuiButtonBase-root-MuiButton-root {
    color: gray !important;
    padding: 6px 5px !important;
  }
}
.heading-area-bottom {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  & .filter-btn {
    width: 100px !important;
  }
  & .css-9tj150-MuiButton-endIcon {
    margin-left: 0 !important;
  }
  & .css-zddlty-MuiButtonBase-root-MuiButton-root {
    color: gray !important;
    padding: 6px 5px !important;
  }
  & .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 3px 16px !important;
    font-size: 13px !important;
  }
  & .item {
    font-size: 12px !important;
  }
}

.star {
  color: #707070 !important;
}
.name {
  font-size: 25px;

  margin: 0;
  margin-right: 20px;
}
.left-area {
  display: flex;
  align-items: center;
}
.right-area {
  display: flex;
  align-items: center;
  & .share-btn {
    display: flex;
    align-items: center;
    color: gray !important;
  }
  & .export {
    display: flex;
    align-items: center;
    color: gray !important;
  }

  & .gap {
    margin-right: 15px !important;
  }
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  text-transform: capitalize !important;
}

//body
.profile-area {
  display: flex;
  align-items: center;
  & .avarter {
    margin-right: 15px;
  }
  h4 {
    margin: 0;
    margin-bottom: 10px;
    color: gray;
  }
  span {
    color: gray;
  }
}
.btn-group {
  display: flex !important;
  align-items: center !important;
  .btn {
    padding: 0px 10px !important;
    height: 30px !important;
    text-transform: capitalize;
    color: gray !important;
    margin-right: 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 20px;
      margin-right: 5px;
    }
  }
  & .MuiBox-root.css-14ajw3y {
    display: flex !important;
    align-items: center !important;
  }
  .css-9y1egq-MuiButtonBase-root-MuiButton-root {
    padding: 0px 10px !important;
    height: 30px !important;
    text-transform: capitalize;
    color: gray !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
  }
}

.export {
  color: gray !important;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px;
}

.css-k9h04b-MuiButtonBase-root-MuiButton-root {
  color: gray !important;
  padding: 8px 0px !important;
}
.css-zddlty-MuiButtonBase-root-MuiButton-root {
  color: gray !important;
}
.btn-group-single {
  margin-right: 15px !important;
}
.export-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divide-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  .color {
    color: black;
  }
  .hr {
    width: 100%;
    color: 1px solid gray;
    overflow: hidden;
  }
}

.type-area {
  p {
    margin: 0;
  }
}
.css-14jg5j8-MuiChip-root {
  height: 25px !important;
}

.type-wrapper {
  .css-r1hick-MuiGrid-root > .MuiGrid-item:last-child {
    padding-top: 10px !important;
  }
}

.submenu-area {
  display: flex;
  align-items: center;
  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    color: gray !important;
  }
}

.table-area {
  max-width: 280px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .title,
  .info {
    text-align: left;
    p {
      margin: 0;
      margin-bottom: 10px;
      text-align: left;
    }
  }
}
.tab-area {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    text-transform: capitalize !important;
  }
  & .item {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  p {
    margin: 0;
  }
  .desc {
    margin-left: 30px;
    margin-bottom: 6px;
  }
}

.toltip-wrap {
  & .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: transparent !important;
    color: gray !important;
    box-shadow: none !important;
    text-transform: capitalize !important;
    padding-left: 0 !important;
  }
}
.people-area {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  p {
    margin: 0;
    margin-bottom: 6px;
  }
}
.date {
  margin-right: 40px;
}

.list-wrapper {
  & .icon {
    padding-left: 10px;
  }
  .css-10hburv-MuiTypography-root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px;
    max-height: 30px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #6578d9;
  }
  .css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root {
    padding-left: 0 !important;
  }
}
