body {
  margin: 0 !important;
}

p {
  color: gray;
}

.wrapper {
  padding: 5px 10px;
}

.topbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  padding: 3px 10px;
  margin-bottom: 10px;
}

.btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-area .MuiButton-root {
  color: #fff !important;
}

.search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-btn {
  background-color: transparent !important;
  text-transform: capitalize !important;
  color: gray !important;
}

.red-btn {
  text-transform: capitalize !important;
  background-color: red !important;
  color: #fff !important;
  padding: 3px 8px !important;
}

.single-btn {
  color: #fff !important;
  text-transform: capitalize !important;
}

.filter-btn {
  width: 100%;
  margin: 10px 0px !important;
  background-color: #fff !important;
  text-transform: capitalize !important;
  border: 1px solid #b1afaf !important;
  color: black !important;
  padding: 2px 15px !important;
}

.avarter {
  width: 35px !important;
  height: 35px !important;
}

.search {
  background-color: transparent !important;
  color: #fff !important;
}

.search .input-search {
  color: #fff !important;
}

.sidebar-wrapper {
  background-color: #f5f5f5;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.heading-wrapper {
  background-color: #f5f5f5;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.divider {
  margin-bottom: 0 !important;
}

.sidebar-area {
  padding: 5px 10px;
}

.body-wrapper {
  margin: 10px 20px;
}

.heading-area-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.heading-area-top .filter-btn {
  width: auto !important;
}

.heading-area-top .css-9tj150-MuiButton-endIcon {
  margin-left: 0 !important;
}

.heading-area-top .css-zddlty-MuiButtonBase-root-MuiButton-root {
  color: gray !important;
  padding: 6px 5px !important;
}

.heading-area-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.heading-area-bottom .filter-btn {
  width: 100px !important;
}

.heading-area-bottom .css-9tj150-MuiButton-endIcon {
  margin-left: 0 !important;
}

.heading-area-bottom .css-zddlty-MuiButtonBase-root-MuiButton-root {
  color: gray !important;
  padding: 6px 5px !important;
}

.heading-area-bottom .item {
  font-size: 12px !important;
}

.select {
  padding: 5px 16px !important;
  font-size: 13px !important;
  color: gray !important;
}

.star {
  color: #707070 !important;
}

.name {
  font-size: 25px;
  margin: 0;
  margin-right: 20px;
}

.left-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-area .share-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray !important;
}

.right-area .export {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray !important;
}

.right-area .gap {
  margin-right: 15px !important;
}

.profile-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-area .avarter {
  margin-right: 15px;
}

.profile-area h4 {
  margin: 0;
  margin-bottom: 10px;
  color: gray;
}

.profile-area span {
  color: gray;
}

.btn-group {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 0px 10px !important;
}

.btn-group .btn {
  padding: 0px 10px !important;
  height: 30px !important;
  text-transform: capitalize;
  color: gray !important;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.btn-group .btn .css-i4bv87-MuiSvgIcon-root {
  font-size: 20px;
  margin-right: 5px;
}

.btn-group .MuiBox-root.css-14ajw3y {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.btn-group .css-9y1egq-MuiButtonBase-root-MuiButton-root {
  padding: 0px 10px !important;
  height: 30px !important;
  text-transform: capitalize;
  color: gray !important;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.export {
  color: gray !important;
}

.btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
}

.css-k9h04b-MuiButtonBase-root-MuiButton-root {
  color: gray !important;
  padding: 8px 0px !important;
}

.btn-group-single {
  margin-right: 15px !important;
}

.export-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.divide-wrap .color {
  color: black;
}

.divide-wrap .hr {
  width: 100%;
  color: 1px solid gray;
  overflow: hidden;
}

.type-area p {
  margin: 0;
}

.css-14jg5j8-MuiChip-root {
  height: 25px !important;
}

.type-wrapper .css-r1hick-MuiGrid-root > .MuiGrid-item:last-child {
  padding-top: 10px !important;
}

.submenu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.submenu-area .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  color: gray !important;
}

.table-area {
  max-width: 280px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-area .title,
.table-area .info {
  text-align: left;
}

.table-area .title p,
.table-area .info p {
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

.tab-area .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  text-transform: capitalize !important;
}

.tab-area .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.tab-area p {
  margin: 0;
}

.tab-area .desc {
  margin-left: 30px;
  margin-bottom: 6px;
}

.toltip-wrap {
  background-color: transparent !important;
  color: gray !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  text-transform: capitalize !important;
  padding-left: 0 !important;
}

.people-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.content p {
  margin: 0;
  margin-bottom: 6px;
}

.date {
  margin-right: 40px;
}

.list-wrapper .icon {
  padding-left: 10px;
}

.list-wrapper .css-10hburv-MuiTypography-root {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 24px;
  max-height: 30px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #6578d9;
}

.btn {
  text-transform: capitalize !important;
}

.MuiButton-root {
  padding: 4px 14px !important;
  font-size: 13px !important;
  color: gray !important;
}

.order-list {
  padding-left: 0 !important;
}

.MuiSelect-select {
  padding: 5px 14px !important;
  font-size: 13px !important;
  color: gray !important;
}

.css-1ex63bw {
  padding: 4px 14px !important;
  font-size: 13px !important;
  color: gray !important;
}
/*# sourceMappingURL=home.css.map */